.vehicleMarker {
    background-image: url('../../assets/images/bus.png');
    background-size: cover;
    width: 32px;
    height: 88px;
    /* border-radius: 50%; */
    cursor: pointer;
    /* border: none;
    border-radius:100%;
    cursor: pointer;
    padding:15px;
    background-color:'red';
    width:40px;
    height:40px;*/
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-weight: bold;
    font-size: 1rem;

}