.startPointMarker{
    background-color: rgb(194, 51, 7);
    padding:15px;
    width:30px;
    height:30px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-weight: bold;
    font-size: 1rem;
    border-radius:100%;
}

.endPointMarker{
    background-color: rgb(7, 194, 38);
    padding:15px;
    width:30px;
    height:30px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-weight: bold;
    font-size: 1rem;
    border-radius:100%;

}